user="<USER>"
passwd="<PASSWORD>"
host="<HOSTNAME>"
port=5672
exchange_name="rabbitmq-test"
exchange_type="direct"
queue_name="rabbitmq-test"
routing_key="rabbitmq-test"
x_durable=True
q_durable=True
auto_delete=False
no_ack=False
